<%- include('header');  %>
<div class="box" id="heading">
    <h2>This is the about page</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut esse quia, repudiandae dicta itaque aspernatur
        veritatis
        beatae illum iusto sunt ipsum adipisci laborum corporis numquam, ullam dolorem, facilis laboriosam alias!</p>
</div>
<%- include('footer');  %>